# Project exclude paths
**/.gradle/
**/build/
/gradlew
/gradlew.bat
/gradle/wrapper/
/.idea/sonarlint/issuestore/
/.idea/libraries-with-intellij-classes.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/artifacts
/.idea/uiDesigner.xml
**/*.iml
local.properties